  <div id="dashboard2" class="container-fluid ng-cloak" ng-cloak ng-controller="dashboardController" ng-init="init()">
    <titulo-pagina>
      <i class="fas fa-home" aria-hidden></i> ¡Bienvenido {{me.fullName}}!
    </titulo-pagina>

  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
