<p style="margin-bottom: 25px;">Bienvenido, <%= fullName %>!</p>
<p style="margin-bottom: 25px;">Esperamos que tu estancia en este nuevo sistema sea de tu agrado.</p>
<p style="margin-bottom: 25px;">Tu contraseña para accesar al sistema es <b><%=password%></b> la cual debes cambiar al entrar al sistema la primera vez.</p>
<p style="margin-bottom: 25px;">Te recordamos que puedes iniciar sesión desde tu teléfono así que no olvides descargar la aplicación móvil.</p>
<p style="margin-bottom: 5px;">Gracias</p>
