<div class="modal fade" tabindex="-1" role="dialog" id="modalPrint">
  <div class="modal-dialog modal-xs" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title col-12 text-center">
          <h5>
            <i title="DOCUMENTO PDF" class="fas fa-print"></i>
            <b>DOCUMENTO PDF</b>
            <button type="button" title="Cerrar Ventana" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </span>
      </div>
      <div class="modal-body">
        <div id="framePrint"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar y Regresar</button>
      </div>
    </div>
  </div>
</div>
