<div id="permisos" ng-controller="permisosControllerView" ng-cloak ng-init="init()">
  <titulo-pagina>
    <i class="fas fa-lock-open"></i> Permisos
  </titulo-pagina>
    <div class="container-fluid">
      <div class="row separado">
        <div class="col-3">
          <div class="input-group">
            <input type="text" class="form-control" ng-keyup="teclaBusqueda($event)" ng-model="searchGeneral" placeholder="Buscar por permiso">
            <button type="button" name="button" ng-click="iniciarBusqueda()" title="Iniciar Busqueda" class="btn btn-primary btn-sm"> <i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="col-2 offset-7">
          <button type="btn btn-sm btn-outline-info account-settings-button" title="Agregar permiso"
            class="btn btn-success btn-block btn-sm" data-toggle="modal" data-target="#myModal" ng-click="showModalP()">
            <i class="fa fa-plus" aria-hidden></i> Agregar Permiso
          </button>
        </div>
      </div>
      <table class="table table-striped">
        <thead class="thead">
          <tr>
            <th>Permiso</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="permiso in permisos">
            <td>{{permiso.nombre}}</td>
            <td>{{permiso.categoria}}</td>
            <td>{{permiso.descripcion}}</td>
            <td>{{permiso.valor}}</td>
            <td>
              <button type="button" title="Editar permiso"
                class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editar(permiso)">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-12 text-center">
          <span ng-show="cargandoDatos">
            <i class="fas fa-spinner fa-spin fa-2x" aria-hidden></i> <br>
            Cargando ....
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <paginacion-directiva registros="permisos" url="/api/v1/admin/permisos/getall" search="searchGeneral"  cargando="cargandoDatos"
          paginacion="paginacion" opcion-cuantos="10 15 20 50" pag-pag="10" refresh="refresh" datos-fecha="datosFecha"></paginacion-directiva>
        </div>
      </div>
    </div>
    <!--
    ███    ███  ██████  ██████   █████  ██
    ████  ████ ██    ██ ██   ██ ██   ██ ██
    ██ ████ ██ ██    ██ ██   ██ ███████ ██
    ██  ██  ██ ██    ██ ██   ██ ██   ██ ██
    ██      ██  ██████  ██████  ██   ██ ███████
    -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xs">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" ng-show="pestana=='agregar'"><i class="fa fa-plus-circle"></i> Agregar permiso</h4>
            <h4 class="modal-title" ng-show="pestana=='editar'"><i class="fa fa-edit"></i> Editar permiso</h4>
            <h4 class="modal-title" ng-show="pestana=='borrar'"><i class="fa fa-trash"></i> Borrar permiso</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="limpia();">&times;</button>
          </div>
          <form name="fromPermisos" class="was-validated">
            <modal-body>
              <div class="container">
                <div class="form-group">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputPermiso">Nombre Permiso</label>
                      <input class="form-control" name="Permiso" type="text" id="inputPermiso"  ng-model="permiso.nombre" placeholder="Nombre del permiso" required>
                      <div class="invalid-feedback">Este campo es requerido</div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputDes">Descripción</label>
                      <input type="text" class="form-control" id="inputDes"  ng-model="permiso.descripcion" placeholder="Descripción" required>
                      <div class="invalid-feedback">Este campo es requerido</div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputValor">Valor</label>
                      <input type="text" class="form-control" id="inputValor" ng-model="permiso.valor" placeholder="a_valor" required>
                      <div class="invalid-feedback">Este campo es requerido</div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputCat">Categoría</label>
                      <input type="text" class="form-control" id="inputCat" ng-model="permiso.categoria" placeholder="Categoría" required>
                      <div class="invalid-feedback">Este campo es requerido</div>
                    </div>
                  </div>
                </div>
              </div>
            </modal-body>
          </form>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-dismiss="modal" title="Borrar permiso" ng-show="borrar" ng-click="borrarPermiso(permiso.id);">
              <i class="fa  fa-trash" aria-hidden="true"></i>
            </button>
            <button type="submit" class="btn btn-success" data-dismiss="modal" title="Guardar Datos" ng-disabled="!fromPermisos.$valid" ng-show="guardar" ng-click="guardarPermiso()"><i class="fa fa-save"></i> Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limpia()">Cancelar y Regresar</button>
          </div>
        </div>
      </div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
